.tipo-container{

    width: 400px;
    height: 270px;
    background-color: rgb(255, 255, 255,0.3);
    -webkit-webkit: border radius 10px;
    -moz-webkit: border radius 10px;
 
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;

    text-align: center;
}

.logon-container img {
   width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

.tipo-container .button {
  

    background: #e02041;
    border-radius: 8px;
    color: #fff;
      
    margin-top: 30px;

    display: inline-block;
    font-size: 18px;
  
    padding: 20px 20px 0 40px;
}

.container .back-link {
       margin-top: 130px;
}